<!DOCTYPE html>
<html>
<head>
    <title>Helpr Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body { background: 
      radial-gradient(circle at 50% 0,
        rgba(255,0,0,.5),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.5),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.5),
        rgba(0,255,0,0) 70.71%) beige;
  border-radius: 50%; margin: 200px; margin-bottom: 30rem;}
    </style>
</head>

<body><br></br>
    <h1 class="badge badge-info" style="font-size:45px">HELPR ADMIN</h1>

    <br></br>

    <h3 style="color:white; font-weight:bold">SESSION SETUP:</h3>
    <header style="border-bottom: 3px solid rgb(255, 255, 255);"></header><br>

    <form style="font-size:20px; color:white" onsubmit="storeTutorName()">          
        <b> ENTER YOUR NAME: </b><br>
        <input type="text" class="form-control" id="tutor" name="tutor" placeholder="..." >
    </form><br>

    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="button" id="tutorbutton" value="Add" onclick="storeTutorName(); changet()" />
    </p>

    <form style="font-size:20px; color:white" onsubmit="storeSessionLength()">          
        <b> ENTER LENGTH OF THE SESSION: </b><br>
        <input type="text" class="form-control" id="lngth" name="lngth" placeholder="..." >
    </form><br>

    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="submit" id="lengthbutton" value="Add" onclick="storeSessionLength(); changel()" />
    </p>

    <header style="border-bottom: 3px solid rgb(255, 255, 255);"></header><br>

    <br></br>

    <h3 style="color:white; font-weight:bold">SESSION ACTIONABLES:</h3>
    <header style="border-bottom: 3px solid rgb(255, 255, 255);"></header><br>

    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="submit" value="View Queue" onclick="myFunction2()" />
        <div style="font-size:20px; font-weight:bold; color:white" id="rQueue"> </div>
    </p>

    <form style="font-size:20px; color:white" onsubmit="help()">          
        <b> HELP A STUDENT: </b><br>
        <input type="text" class="form-control" id="szid" name="szid" placeholder="Enter a zid..." >
    </form><br>

    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="submit" id="helpbutton" value="Help" onclick="help()" />
    </p>

    <form style="font-size:20px; color:white" onsubmit="resolve()">          
        <b> RESOVE STUDENT REQUEST: </b><br>
        <input type="text" class="form-control" id="rzid" name="rzid" placeholder="Enter a zid..." >
    </form><br>

    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="submit" id="resolvebutton" value="Resolve" onclick="resolve()" />
    </p>

    <form style="font-size:20px; color:white" onsubmit="revert()">          
        <b> REVERT STUDENT REQUEST: </b><br>
        <input type="text" class="form-control" id="rvzid" name="rvzid" placeholder="Enter a zid..." >
    </form><br>

    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="submit" id="revertbutton" value="Revert" onclick="revert()" />
    </p>

    <header style="border-bottom: 3px solid rgb(255, 255, 255);"></header><br>

    <br></br>

    <p>
        <input style="font-weight:bold" class="btn btn-danger btn-lg btn-block" type="submit" id="end" value="END SESSION" onclick="end()" />
    </p>

<script>
    function myFunction2() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
                if (xhttp.responseText == '[]') {
                    document.getElementById("rQueue").innerHTML = "<span style='color: red;'>----------------------------------------------------------------------------------- QUEUE IS EMPTY ------------------------------------------------------------------------------------</span>";
                } else {
                    document.getElementById("rQueue").innerHTML = xhttp.responseText;
                }
            }
        };
        xhttp.open("GET", "http://127.0.0.1:5000/queue", true);
        xhttp.send();
    }
</script>

<script>
    function revert() {
        var zid = document.getElementById("rvzid").value;
        axios
        .post(`http://127.0.0.1:5000/revert`, { zid })
        .then(() => {
            console.log('all good');
        })
        .catch((err) => {
            console.error(err);
        });
    }
</script>

<script>
    function help() {
        var zid = document.getElementById("szid").value;
        axios
        .post(`http://127.0.0.1:5000/help`, { zid })
        .then(() => {
            console.log('all good');
        })
        .catch((err) => {
            console.error(err);
        });
    }
</script>

<script>
    function resolve() {
        var zid = document.getElementById("rzid").value;
        $.ajax({
            type: "DELETE",
            url: "http://127.0.0.1:5000/resolve",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(zid, null, '\t'),
            dataType: 'json',
            error: function(response) {
                alert(response)
            },
        });
    }
</script>

<script>
    function end() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (xhttp.readyState === XMLHttpRequest.DONE) {
            }
        };
        xhttp.open("DELETE", "http://127.0.0.1:5000/end", true);
        xhttp.send();
    }
</script>
    
<script>
    function storeTutorName() {
        var tutor = document.getElementById("tutor").value;
        localStorage["tutor"] = tutor;
    }
</script>

<script>
    function storeSessionLength() {
        var lngth = document.getElementById("lngth").value;
        localStorage["lngth"] = lngth;
    }
</script>

<script>
    function changetBack(){
        document.getElementById("tutorbutton").value = "Add";
    }
</script>


<script>
    function changet(){
        document.getElementById("tutorbutton").value = "✓";
    }
</script>

<script>
    function changel(){
        document.getElementById("lengthbutton").value = "✓";
    }
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</body>
</html>    

    