<!DOCTYPE html>
<html>
<head>
    <title>Helpr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        table { width: 100%; color:white }
        table, th, td, tr{ font-weight:bold; border: solid 5px #DDD;
            border-collapse: collapse; padding: 2px 3px; text-align: center; background-color: #262929; margin-bottom: 48rem; line-height:40px
        }       
        td:hover {background-color: rgb(73, 72, 72);} 
        body { background:  radial-gradient(circle at 50% 0,
        rgba(255,0,0,.5),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.5),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.5),
        rgba(0,255,0,0) 70.71%) beige; margin:30px}   
    </style>
</head>

<body onload="createTable(); timer(); get_time(); tutorName()"><br></br>
    <h1 class="badge badge-info" style="font-size:45px;">HELPR</h1> <h3 class="btn btn-primary btn-lg active" style="font-size:20px; float: right"> <a style="color:white" target="_blank" href="{{ url_for('admin_page') }}">ADMIN PAGE</a></h3>

    <br></br>

    <header style="border-bottom: 3px solid rgb(255, 255, 255);"></header><br>
       
    <form style="font-size:20px; color:rgb(255, 255, 255)" onsubmit="addRow()">          
        <b> ENTER YOUR NAME: </b><br>
        <input type="text" class="form-control" id="fname" name="fname" placeholder="....." >
    </form><br>

    <form style="font-size:20px; color:white" onsubmit="addRow()">          
        <b> ENTER A DESCRIPTION OF YOUR PROBLEM: </b><br>
        <input type="text" class="form-control" id="desc" name="desc" placeholder="....." >
    </form><br>

    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="submit" id="joinbutton" value="JOIN QUEUE" onclick="myFunction3(); changej()" />
    </p>

    <header style="border-bottom: 3px solid rgb(255, 255, 255);"></header><br>

    <h5 style="color:rgb(255, 255, 255)">Tutor in room: <span class="badge badge-pill badge-success" action="tutorName()" id="tutor"></span> 
    <h5 style="color:rgb(255, 255, 255)">Session duration: <span class="badge badge-pill badge-info" id="currtime"></span> - <span class="badge badge-pill badge-info" id="endtime"></span>
    <h5 style="color:rgb(255, 255, 255)">Time left in session: <span class="badge badge-pill badge-warning" id="safeTimerDisplay"></span>
    <br></br>

    <form style="font-size:20px; color:white">          
        <b> NUMBER OF STUDENTS AHEAD OF YOU: </b><br>
        <input type="text" class="form-control" id="zid" name="zid" placeholder="Enter your zid..." >
    </form>
    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="submit" id="checkbutton" value="CHECK" onclick="myFunctionR()" />
    </p>

    <div class="alert alert-warning" style="display: none">
        <a class="close" onclick="$('.alert').hide()">×</a>
            <span id="remaining"></span>
    </div>
    
    <form style="font-size:20px; color:white">          
        <b> CANCEL YOUR REQUEST: </b><br>
        <input type="text" class="form-control" id="czid" name="czid" placeholder="Enter your zid..." >
    </form>
    <p>
        <input style="font-weight:bold" class="btn btn-success btn-lg btn-block" type="submit" id="cancelbutton" value="CANCEL" onclick="cancel()" />
    </p>

    <br></br>

    <div id="cont"></div>   <!--the container to add the table.-->
    
<script>
    var arrHead = new Array();
    var iter=1;
    var time=0;
    table_row=0;
    arrHead = ['PLACE', 'NAME', 'TIME JOINED']; // table headers.

    // first create a TABLE structure by adding few headers.
    function createTable() {
        var empTable = document.createElement('table');
        empTable.setAttribute('id', 'empTable');  // table id.

        var tr = empTable.insertRow(-1);

        for (var h = 0; h < arrHead.length; h++) {
            var th = document.createElement('th'); // the header object.
            th.innerHTML = arrHead[h];
            tr.appendChild(th);
        }

        var div = document.getElementById('cont');
        div.appendChild(empTable);    // add table to a container.
    }

    // function to add new row.
    function addRow() {
        var my_name = document.getElementById("fname").value
        var empTab = document.getElementById('empTable');
        
        var rowCnt = empTab.rows.length;    // get the number of rows.
        var tr = empTab.insertRow(rowCnt); // table row.
        tr = empTab.insertRow(rowCnt);

        for (var c = 0; c < arrHead.length; c++) {
            var td = document.createElement('td');          // TABLE DEFINITION.
            td = tr.insertCell(c);

            if (c == 0) {   // if its the first column of the table.
                // add a button control.
                if (iter == 1) {
                    var el0 = document.createTextNode(iter++);              
                    td.appendChild(el0);   
                } else {
                    var el0 = document.createTextNode(iter++)                
                    td.appendChild(el0);  
                }             
            }
            if (c == 1) {
                // the 2nd, 3rd and 4th column, will have textbox.
                var ele = document.createTextNode(my_name)               
                td.appendChild(ele);
            } 
            if ( c == 2) {
                if (table_row == 0) {
                    var e2 = document.createTextNode("Currently being helped")                  
                    td.appendChild(e2);
                    td.style.color = "green";
                } else {
                    time+=5
                    var d = new Date(); // for now
                    var hrs = d.getHours(); // => 9
                    var mints = d.getMinutes(); // =>  30
                    var sec = d.getSeconds(); // => 51
                    
                    var convert = hrs >= 12 ? hrs-12 :hrs;
                    var ampm = convert <= 12 ? 'pm' : 'am';
                    var mins = mints <= 9 ? '0'+mints : mints;
                    var ele2 = document.createTextNode(convert + ":" + mins + ampm);            
                    td.appendChild(ele2);
                }
                table_row++;
            }
        }
    }
    
</script>

<script>
    function changej(){
        document.getElementById("joinbutton").value = "JOINED";
    }
</script>

<script>   
    var myTimer;
    function timer(){
        myTimer = setInterval(myClock, 1000);
        var rety = localStorage["lngth"];
        if (typeof rety == 'undefined') {
            c = 0;
        }
        var c = 3600*rety;

    function myClock() {
        --c
        var seconds = c % 60; // Seconds that cannot be written in minutes
        var secondsInMinutes = (c - seconds) / 60; // Gives the seconds that COULD be given in minutes
        var minutes = secondsInMinutes % 60; // Minutes that cannot be written in hours
        var hours = (secondsInMinutes - minutes) / 60;
        // Now in hours, minutes and seconds, you have the time you need.
        document.getElementById("safeTimerDisplay").innerHTML = hours + "hr " + minutes + "min " + seconds + "sec";
        if (c == 0) {
            clearInterval(myTimer);
        }
    }
}
clock();
</script>

<script>
    var localLength = localStorage["lngth"];
    function get_time(){
        var d = new Date(); // for now
        var hrs = d.getHours(); // => 9
        var mints = d.getMinutes(); // =>  30
        var sec = d.getSeconds(); // => 51
        
        var convert = hrs >= 12 ? hrs-12 :hrs;
        var ampm = convert <= 12 ? 'pm' : 'am';
        var mins = mints <= 9 ? '0'+mints : mints;
        var setEndTime = localStorage["lngth"];
        document.getElementById("currtime").innerHTML = convert + ":" + mins + ampm;
        document.getElementById("endtime").innerHTML = parseInt(convert) + parseInt(setEndTime) + ":" + mins + ampm;
    }
</script>

<script>
    function cancel() {
        var zid = document.getElementById("czid").value;
        $.ajax({
            type: "DELETE",
            url: "http://127.0.0.1:5000/cancel",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(zid, null, '\t'),
            dataType: 'json',
            error: function(response) {
                alert(response)
            },
        });
    }
</script>

<script>
    function myFunctionR() {
        var myzid = document.getElementById("zid").value;
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/remaining/",
            contentType: 'application/json',
            data: JSON.stringify(myzid),
            dataType: 'json',
            success: function(res) {
                if (res == 0) {
                    document.getElementById("remaining").innerHTML = "You are at the front of the line!";
                } else if (res == 1) {
                    document.getElementById("remaining").innerHTML = "There is " + res + " person in-front of you!";
                } else {
                    document.getElementById("remaining").innerHTML = "There are " + res + " people in-front of you!";
                }
                               
                $(document).ready(function() {
                    $(".alert").show();
                    $(".alert").first().hide().slideDown(500).delay(4000).slideUp(500, function () {
                        $(this).remove(); 
                    });
                });
            },
            error: function(response) {
                alert(response)
            },
        });
    }
</script>

<script>
    function myFunction3() {
        var zid = document.getElementById("fname").value;
        var description = document.getElementById("desc").value;
        axios
        .post(`http://127.0.0.1:5000/make_request`, { zid, description})
        .then(() => {
            console.log('all good');
        })
        .catch((err) => {
            console.error(err);
        });
        addRow();
    }
</script>

<script>
    window.setInterval(function(){
        document.getElementById("tutor").innerHTML = localStorage["tutor"];
    }, 1000); 
</script>

<!-- <script>
   window.addEventListener("storage", function () {
        if (localLength != localStorage["lngth"]) {
            document.getElementById("lngth").innerHTML = localStorage["lngth"];
        }
        timer();
    }, false);
</script> -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</body>
</html>